*
{
    box-sizing: inherit;
}
:root
{
    --primary-color:rgb(183, 220, 54);
    --white-color:#fff;
    --height-header:36px;
    --body-about-us-hight:410px;
}
html
{
    font-size: 62.5%;
    line-height: 1.6rem;                   /* 10px 100%>>> 16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;  /* ke thua tat ca border-box do tren la inherit*/    
}
@keyframes headerNotifyGrowth
{
    from
    {   
        opacity: 0;
        transform: scale(0);
    }
    to 
    {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes heighttall
{
    from 
    {
        height: 0;
    }
    to 
    {
        height: 100%;
    }
}
@keyframes runTransiton
{
    from 
    {
        transform: translateY(0);
    }
    to 
    {
        transform: translateY(100%);
    }
}
.overlay__mobile
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 168, 168, 0.5);
    display: none;
    z-index: 10;
}
.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 168, 168, 0.5);
    display: none;
    z-index: 10;
}
.text-bold
{
    font-weight: 600 !important;
}
.header__account-list.active
{
    display: flex;
}
/* login */
.login
{
    position: absolute;
    width: 500px;
    height: 500px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    display: none;
}
/* register */
.register
{
    position: absolute;
    width: 500px;
    height: 500px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    display: none;
    
}
.btn.btn-confirm
{
    min-width:140px;
    padding: 10px 0;
    background-color:#f7b111;
    color:#fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn.btn.btn-confirm:hover
{
    background-color: #fff;
    color: #f7b111;
    border: 1px solid #f7b111;;
}
.btn.btn-submit
{
    min-width:140px;
    padding: 10px 0;
    background-color: var(--primary-color);
    color:#fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
} 
.btn.btn-blue
{
    min-width:102px;
    padding: 10px 0;
    background-color:#fff;
    color:var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
} 
.btn.btn-blue:hover
{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}
.btn.btn-white
{
    min-width: 180px;
    height: 52px;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    cursor: pointer;

}
.btn.btn-white:hover
{
    background-color:#fff ;
    color: var(--primary-color);
}
.btn.btn-submit:hover
{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.auth-form__header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.auth-form__heading
{
    font-size: 2.5rem;
    font-weight: 500;
}
.auth-form__swtich-btn
{
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input
{
    width: 100%;
    margin: 8px 0;
    height: 34px;
    outline: none;
    padding-left: 6px;
}
.auth-form__aside
{
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
}
.auth-form__text-link
{
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 22px;
}
.auth-form__controls
{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn
{
    margin-left: 6px;
}
.auth-form__socials
{
    margin-top: 40px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-form__socials-title
{
    text-decoration: none;
}
.auth-form__socials--facebook,.auth-form__socials--google
{
    text-decoration: none;
    padding:8px;
}
.auth-form__socials--facebook
{
    flex: 1;
    background-color: rgb(81, 81, 230);
    color: #fff;
}
.auth-form__socials--google
{
    flex: 1;
    background-color: rgb(216, 72, 72);
    color: #fff;
}
.auth-form__socials-icon
{
    margin-right: 30px;
}
/* about us  */

.bottom-line
{
    width: 50px;
    height: 4px;
    background-color: var(--primary-color);
    text-align: center;
    margin: 0 auto 24px;
}

.our__product-item:hover .our__product-overlay-container
{
    display: flex;
    width: 100%;
    opacity: 1;
}
.our__product-overlay-container
{
    position:absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0 , 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition:all ease-in-out 0.2s;
    width:0;
    opacity:0;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}
.our-product-header
{
    animation:changeColor ease 5s infinite;
}
@keyframes changeColor
{
    0% {
        color: #000;
    }
    30% 
    {
        color: red;
    }
    60%
    {
        color:blue;
    }
}
.our__product-overlay-star
{
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.our__product-overlay-icon
{
    display: flex;
}
.our__product-icon
{
    color: #fff;
    font-size: 1.6rem;
}
.our__product-overlay-link
{
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    margin: 8px;
}
.our__product-overlay-link:hover,.our__product-overlay-add:hover
{
    background-color: var(--primary-color);
}
.our__product-overlay-add-icon
{
    color: #fff;
    font-size: 1.6rem;
    
}
.our__product-overlay-add
{
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.our__product-overlay-add-text
{
    padding-left: 8px;
    font-size: 1.6rem;
    color: #fff;
}
